{% extends 'base.html' %}
{% load static %}

{% block title %}選茶 | Sencha {% endblock %}

{% block header %}

{% endblock %}

{% block contents %}
    <div class="d-grid gap-2 col-6 mx-auto">
        <a href="/result/" class="btn btn-primary">結果</a>
        <p>作成者は<b id='test'>{{ num }}</b>です。</p>
    </div>

    <!-- section question-->

    <form method="POST">{% csrf_token %}
        <div class="pagination-container">
            <dl>
                <dt>質問1</dt>
                <dd>
                    {{ form.keyword0 }}
                    {{ form.keyword0.name }}
                </dd>
            </dl>
            <dl>
                <dt>質問2</dt>
                <dd>
                    {{ form.keyword1 }}
                    {{ form.keyword1.name }}
                </dd>
            </dl>
            <dl>
                <dt>質問3</dt>
                <dd>
                    {{ form.keyword2 }}
                    {{ form.keyword2.name }}
                </dd>
            </dl>
            <dl>
                <dt>質問4</dt>
                <dd>
                    {{ form.keyword3 }}
                    {{ form.keyword3.name }}
                </dd>
            </dl>
        </div>
        <input type="submit" name='check' value="Send message">
    </form>


    <!-- section java-->

    <script type="text/javascript">
        $(function () {
            $('.pagination-container').paginathing({//親要素のclassを記述
                perPage: 1,//1ページあたりの表示件数
                firstLast: false,
                prevText: '前へ',//1つ前のページへ移動するボタンのテキスト
                nextText: '次へ',//1つ次のページへ移動するボタンのテキスト
                activeClass: 'active',//現在のページ番号に任意のclassを付与できます
            })
        });
    </script>

{% endblock %}