{% extends 'base.html' %}
{% load static %}

{% block title %}選茶 | Sencha {% endblock %}

{% block contents %}

<!-- section 1-->
<div class="container text-center p-5">
    <div class="row align-items-center">
        <div class="col">
        </div>
        <h1>あなたの選んだお茶を日常に</h1>
    </div>
</div>

<!-- section 2-->

    <h2>お茶一覧</h2>
    <table class="table">
        <thead>
        <tr>
            <th>お茶名</th>
        </tr>
        </thead>
        <tbody>
        {% for tea in tea_list %}
            <tr>
                <td>{{ tea.name }}</td>
            </tr>
            <tr>
                <td>{{ tea.base }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block header %}

{% endblock %}